@import '../../../src/css/style.scss';

.about-me {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 auto;
    color: $black;
    padding-top: 50px;
    margin-top: 50px;
    opacity: 0;
    animation: slideIn 2s;
    animation-fill-mode: forwards;
    animation-iteration-count:1; 

    span {
        color: darken($yellow, 25%);
    }

    > div {
        text-align: center;
        max-width: 800px;
        margin-bottom: 100px;
    }
}

.brand {
    img{
        cursor: pointer;
    }
}

@keyframes slideIn {
    from {
      opacity: 0;
      margin-top: 50px;
    }
  
    to {
      opacity: 1;
      margin-top: 0;
    }
  }